/* Configurações gerais */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

p::selection, b::selection, h1::selection, li::selection, h2::selection {
  background: green;
  color: rgb(255, 255, 255);
}

h1 {
  color: white;
  font-size: 70px;
  font-weight: 700;
}

h2 {
  font-size: 40px;
  color: #943203;
  padding: 20px 0px;
}

h4 {
  font-size: 21px;
  font-weight: 800;
  text-align: center;
  color: #943203;
}

p{
  font-size: 18px;
  font-weight: 400;
  color: #333;
  white-space: pre-line;
}


header {
  display: flex;
  justify-content: center;
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 1;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-align: center;
  margin: 25px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  padding: 3px;
}

b{
  color:#317d15;
  font-weight: 700;
}

a:hover {
  color: #03a41b;
  transform: scale(1.1);
  background-color: rgba(241, 241, 241, 0.034);
  border-radius: 6px;
  font-weight: 900;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #03a41b;
  border-radius: 2bpx;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #317d15;
}


ul{
  white-space: pre-line;
}

li{
  list-style:none;
  
}


footer {
  background: rgb(3, 128, 7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 20%;
  display: flex;
  margin-top: 30px;
}

.texto_footer {
  margin: 20px;
  line-height: 2;
  color: white;
  font-weight: 500;
}

footer a{
  color: white;
  margin: 0;
  padding: 0;
}

footer a:hover{
  color: white;
  text-decoration: underline;
}

.voltar_topo{
    position: fixed;
    display: flex;
    color: white;
    background-color: #317d15;
    padding: 10px;
    font-size: 30px;
    border-radius: 7px;
    bottom: 20px;
    right: 20px;
    z-index: 2;
}

.voltar_topo:hover{
  border: #000000;
  background-color: #943203;
  cursor: pointer;
}

/* Primeiro Bloco */

.primeiro_bloco {
  width: auto;
  height: 100vh;
  background-image: url("https://images6.alphacoders.com/382/382703.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  padding: 0 20px;
}


.titulo hr {
  width: 30%;
  border-radius: 10%;
  border: none;
  border-bottom: 3px solid white;
  margin: 10px 0;
}

/* Segundo Bloco */

.segundo_bloco {
  height: auto;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.texto1 {
  margin-top: auto;
  max-width: 50vw;  
  padding: 20px;
  text-align: justify;
  color: #333;
  font-size: 18px;
  line-height: 1.5;
}

.imagem_texto1 {
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 50px;
  box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
}

/* Terceiro Bloco */

.terceiro_bloco {
  display: flex;
  height: auto;
  background-color: #f1f1f1dc;
  justify-content: center;
  align-items: center;
}

.texto2 {
  margin-top: auto;
  max-width: 50vw;  
  padding-right: 2vw;
  margin: 7%;
  font-size: 18px;
  line-height: 1.5;
  border-right: 5px solid #943203;
  max-width: 60vw;
  text-align: justify;
  color: #333;
}

.imagem_texto2 {
  display: flex;
  width: 60%;
  margin-top: 5vh;
  box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
} 

.inscrever{
  background-color: #e0e0e0;
  border-radius: 8px;
  padding: 10px;
  max-width: 12vw;
  display:inline-block;
  transition: transform 0.2s ease-in;
}

.inscrever:hover{
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}

#inscricao {
  margin: 25px auto;
  height: 100px;
  border: 0;
  padding: 15px;
  background-color: rgb(3, 128, 7);
  color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 14px;
  font-weight: 700;
}

#inscricao:hover {
  border: #000000;
  background-color: #943203;
  cursor: pointer;
  color: #FFFFFF;
}

/* FAIXA VLOG */

.vlog_bloco {
  margin: 5vh 0 10vh 0;
  height: auto;
  justify-content: center;
  align-items: center;
}

.vlog_materiais ul{
  width: 40%;
  border: 0;
  background-color: #e0e0e0;
  font-weight: 700;
  padding: 3vh 3vw;
  color: #943203;;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.vlog{
  padding-right: 5vw;
  width: 40vw;
}

.vlog_bloco h2{
  padding-bottom: 4vh;
  font-size: 40px;
  text-decoration: underline 3px;
  text-align: center;
  color: #943203;
  font-weight: 700;
}

.vlog_materiais{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Quarto Bloco */

.quarto_bloco {
  margin: 12vh 0 0 0;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quem_somos h2 {
  padding: 0;
  font-size: 50px;
  text-align: center;
  color: #943203;
  font-weight: 700;
}

.quem_somos hr {
  width: 37vw;
  border-radius: 10%;
  border: none;
  border-bottom: 5px solid #943203;
  margin: auto;
  margin-bottom: 5vh;
}

#ultima_linha{
  width: 37vw;
  border-radius: 10%;
  border: none;
  border-bottom: 5px solid #943203;
  margin: auto;
  margin: 5vh 0;
}

.imagens_pessoas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 55vw;
  margin: auto;
}

.imagens_aluno {
  width: 10vw;
  height: 20vh;
  border-radius: 50%;
  margin: 1vw;
  transition: transform 0.2s ease-in-out;
  box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.25);
}

.imagens_aluno:hover {
  box-shadow: 0 0 10px 1px #03a41b;
  transform: scale(1.2);
  cursor: pointer;
}

button {
  background-color: transparent;
  border: none;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

dialog {
  border: none;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: auto;
  text-align: center;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

dialog h3 {
  font-size: 25px;
}

.imagem_modal {
  width: 10vw;
  height: 20vh;
  border-radius: 50%;
  margin: 1vw;
}

dialog p {
  display: flex;
  max-width: 30vw;
  padding: 2vw;
  text-align: justify;
  color: #333;
  font-size: 18px;
  line-height: 1.5;
}

#fechar1, #fechar2, #fechar3, #fechar4, #fechar5, #fechar6, #fechar7, #fechar8 {
  width: 8vw;
  height: 5vh;
  border: 0;
  background-color: rgb(3, 128, 7);
  color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 20px;
  margin: 1vw;
}

#fechar1:hover, #fechar2:hover, #fechar3:hover, #fechar4:hover, #fechar5:hover, #fechar6:hover, #fechar7:hover,#fechar8:hover{
  border: #000000;
  background-color: #943203;
  color: #FFFFFF;
}


@media only screen and (max-width: 425px){
  header{
    display: none;
  }

}
@media screen and (min-width: 425px) and (max-width: 1023px) {
  .texto2{
    margin-top: 130vh; 
  }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .texto2{
    margin-top: 220vh; 
  }
}

@media screen and (min-width: 375px) and (max-width: 424px){
  .texto2{
    margin-top: 150vh; 
  }
}

@media screen and (min-width: 0px) and (max-width: 319px){
  .texto2{
    margin-top: 240vh; 
  }
}

@media all and (max-width: 1024px) {
  
  .primeiro_bloco {
    width: 100%;
    height: 100vh; 
  }
   
  .titulo hr {
    width: 80%;
  }

.segundo_bloco{
   width: 100%;
   height: 150vh;
   margin-bottom: 150vh;
}

.texto1{
  max-width: 200vw;
}

.terceiro_bloco {
  display: flex;
  height: auto; 
  flex-direction: column;
}

.texto2 {
  font-size: 18px;
  line-height: 1.5;
  border: none;
  font-size: 18px;
}

.imagem_texto2 {
  margin: auto;
  padding-top: 2vh;
  box-shadow: none;
  width: 80%;
}


.inscrever{
  margin: 5vh;
  max-width: 200vw;
}

#inscricao {
  margin: auto;
  height: auto;
}

.vlog_materiais{
  display: flex;
  height: auto;
  flex-direction: column;
}

.vlog{
  margin: auto;
  width: 80vw;
}

.vlog_materiais ul{
  width: 70vw;
  padding: 3vh 3vw;
  margin-top: 7vh;
}

.imagens_pessoas{
  max-width: 200vw;
}

.imagens_aluno{
    width: 25vw;
    height: 25vw;
    box-shadow: none;
}

.texto_footer a{
  font-size: 16px;
}

dialog{
  width: 50vw;
}

dialog p{
  margin: auto;
  max-width: 80vw;
}

.imagem_modal{
  width: 25vw;
  height: 25vw;
}

}
